@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(180deg, #0A1122 0%, #03194D 100%);
  background-repeat: no-repeat;
  height: 100%;
}
